# Byte-compiled / optimized / DLL files
*.pyo
*.pyc
__pycache__/
# Anki
src/*/meta.json
# Build files
build
src/*/gui/forms/anki*
src/*/gui/forms/LICENSE*
src/*/gui/resources/anki*
src/*/gui/resources/LICENSE*
*-anki2*.zip
# Python
.python-version
.mypy_cache/
.ropeproject
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Javascript
node_modules
# IDEs
*.sublime-project
*.sublime-workspace
.sublime-backup/
.idea/
.vscode/
addon.json
# Temp
.gitold
obsolete
research
# Linux FM
.hidden
.directory
# Docs and tools
docs/specs.md
docs/todo.md
docs/description.html
designer/web/cal-heatmap.min_orig.js
designer/web/cal-heatmap_orig.css
todo
# Assets / data
resources/icons/optional
src/review_heatmap/data/patrons.py
