# Exclude files from deployment:
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
docs export-ignore
screenshots export-ignore
addon.json export-ignore
# Adjust GitHub linguist settings
## Vendored
src/*/libaddon linguist-vendored
src/*/_vendor linguist-vendored
