# Exclude files from deployment:
## git files
.gitattributes export-ignore
.gitignore export-ignore
## duplicate documentation
ANKIWEB.md export-ignore
README.md export-ignore
## build script
build_zip.sh export-ignore
## screenshots
/screenshots export-ignore
# Adjust GitHub linguist settings:
ANKIWEB.md linguist-documentation