# Exclude files from deployment:
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
docs export-ignore
screenshots export-ignore
# Adjust GitHub linguist settings:
ANKIWEB.md linguist-documentation
README.md linguist-documentation
web/cal-heatmap.js linguist-vendored
web/cal-heatmap.css linguist-vendored
web/d3.min.js linguist-vendored
src/review_heatmap/libaddon linguist-vendored
