# Byte-compiled / optimized / DLL files
*.pyo
*.pyc
__pycache__/
# Anki
src/*/meta.json
# Build files
build
src/*/forms*
*-anki2*.zip
# Python
.python-version
.mypy_cache/
.ropeproject
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# IDEs
*.sublime-project
*.sublime-workspace
.sublime-backup/
.idea/
.vscode/
# Temp
.gitold
obsolete
research
# Linux FM
.hidden
.directory
# Docs and tools
.github
docs/specs.md
docs/todo.md
docs/*.todo
docs/description.html
tools/test.py
